/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css?family=Quantico:Ruda:200,300,400,500,600,700&display=swap');



body {
    font-family: "Ruda", sans-serif;
}

.main {
    background-color: grey;
    margin: 0;
    border: 2px black solid;
}

.footer {
    font-family: "Ruda", sans-serif;
    background-color: #fcfcfc;
    border-top: rgb(226, 226, 226) 0.1px solid;
}

.uppercase {
    text-transform: uppercase; 
}

/*--- Hero Image + logo ---*/

#hero-title {
    color: whitesmoke;
    width: 250px;
    height: 100px;
    border-radius: 100px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    align-self: auto;

    padding-top: 25px;
    padding-left: 22.5px;
    
    background-color: rgba(32, 32, 102, 0.6);
    
    top: 30px;
    left: 50px;

    position: absolute;
}

#hero-image {
    height: 460px;
    width: 100%;
    background: url("../images/hero_image.jpg") no-repeat center center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  /*--- The animation code is taken from Love Running tutorial from this course ---*/
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
  height: 460px;
  width: 100%;
  overflow: hidden;
  position: relative;
 
}
/*--- Hero image animation; the code is taken from Love Running tutorial from this course ---*/
@keyframes hero-zoom {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}
  

/*-- Hero image animation for mobile view --*/

@media screen and (max-width: 565px) {   
    #hero-image{
    	background: url("../images/hero_image_2.jpg") no-repeat;
        max-height: 180px;
    } 
    #hero-outer{
        max-height: 180px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #hero-title {
    color: whitesmoke;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    
    padding-top: 14px;
    padding-left: 14px;
    
    top: 15px;
    left: 25px;
    }

    .logo {
        font-size: 18px;
    }
}

h1 a, a:hover {
    text-decoration: none;
    color: whitesmoke;
}


/*--- NAVbar ---*/

#navbar-main {
  color: white;
  
  padding-top: 40px;
  padding-left: 10px;
  
  bottom: 80px;
  right: 50px;

  position: absolute;
  background: none;
}

#navbar {
  color: white;
  
  padding-top: 40px;
  padding-left: 10px;

  bottom: 80px;
  right: 50px;

  position: absolute;
  background: none;
}

.menuitem {
    font-size: 25px;
    text-align: center;
    display: block;
}

/*-- Menu icons size increase on hover --*/
.menuitem:hover i {
    font-size: 30px;
}

/*-- Mobile view: Menu icons size increase on hover --*/
@media screen and (max-width: 565px)  {
    #mobile {
        font-size: 10px;
        font-weight: 600;
    }
    
    .menuitem:hover i {
    font-size: 13px;
    }

    #navbar, #navbar-main {
    display: block;

    bottom: 150px;
    right: 0px;
    
    position: absolute;
    background: none;
    }
}

/*-- Headings, titles, section titles --*/

.about-title, 
.gallery-title,
.projects-title {
    text-align: center;
    color: rgba(32, 32, 102, 0.9);
    padding-top: 20px;
}

.gallery-title,
.projects-title,
.contact-title {
    letter-spacing: 8px;
    padding: 30px 0;
    text-align: center;
    color: rgba(32, 32, 102, 0.9);
}

/*--- About section ---*/

.about {
    padding-left: 20px;
    
    padding-top: 20px;
    border: grey 0.2px sold;
}

.about-bg {
    background-color:  #f5f5f5;
}

.about-title {
    text-align: center;
    color: rgba(32, 32, 102, 0.9);
}

.about p {
    text-align: justify;
    padding-right: 15px;
}


/*--- Services section ---*/

.services {
    padding: 30px;
}

.service {
    padding: 10px;
}

.service-title {
    text-align: center;
    color: rgba(32, 32, 102, 0.9);
}

.service, 
.service-image {
    margin: 5px 0;
}

.services p {
    text-align: justify;
    padding-right: 10px;
}


/*--- Services section - Images ---*/

.service-image {
    padding: 2px;
    border: rgb(172, 172, 172) 0.2px solid; 
}

.responsive {
  max-width: 100%;
  height: auto;
}

/*--- Footer ---*/

.license  {
    padding: 15px 20px 10px;
    text-align: center;
}

.license p {
    font-size: 12px;
}

.license a {
    color: rgba(32, 32, 102, 0.856);
    text-transform: uppercase;
}

.license a:hover {    
    background: rgba(32, 32, 102, 0.856);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.copyright {
    font-family: "Quantico", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 40px;
    background-color:  #f5f5f5;
}

.social {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 15px;
}

.social li a i {
    height: 46px;
    width: 46px;
    border-radius: 30%;
    font-size: 40px;
    padding-top: 3px;
    text-align: center;
    color: rgba(32, 32, 102, 0.856);
}

.social li a i:hover {
    background: rgba(32, 32, 102, 0.856);
    color: white;
}

/*-- Projects -- */

.projects {
  background: #fcfcfc;
  border-bottom: rgb(226, 226, 226) 0.1px solid;
}

.projects h4 {
    text-align: center;
    color: rgba(32, 32, 102, 0.9);
}
.project {
    margin-bottom: 5px;
    padding: 10px 0;
}

.project p {
    text-align: justify;
}

.project-image {
    padding: 2px;
    border: rgb(172, 172, 172) 0.2px solid; 
}

.project-image-bg {
    background:  #f5f5f5;
}

/*--- Gallery ---*/

#photo {
   clear: both;
   line-height: 0;
   column-count: 4;
   column-gap: 0;
 }

 #photo img{
   width: 100%;
   padding: 2px;
   border: grey 0.2px sold;
 }

 @media screen and (max-width: 943px){
    #photo{
        column-count: 3;
}

@media screen and (max-width: 650px){
    #photo{
        column-count: 2;
   }

/*--- Address + Map ---*/

.address{
    background-color:  #f5f5f5;
}

#map iframe {
        width: 100%;
        height: 100%;
}

/*--- Contact Form ---*/

.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    margin-left: 2px;
    resize: vertical;
}

input[type=submit] {
  background-color: rgba(1, 1, 80, 0.637);
  padding: 12px 30px;
  margin-left: 30px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
/*
.contact-section {
    height: 100%;
    width: 100%;
    clear: both;
    background: url("../images/contact_form_bg.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
}

.contact-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    position: absolute;
    left: 10%;
    padding: 30px;
}
*/