/*----  General styles ---*/

@import url('https://fonts.googleapis.com/css?family=Quantico:Ruda:200,300,400,500,600,700&display=swap');

body {
    
    font-family: "Ruda", sans-serif;
}

footer {
    font-family: "Quantico", sans-serif;
}

/*--- Hero Image ---*/

.hero-title {
    color: whitesmoke;
    position: absolute; 
    margin: 0px 0px;
    padding: 0;
    width: 130px;
    height: 50px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
  
    padding-left: 10px;

     background-color: rgba(38, 15, 170, 0.582);

     top: 10px;
     left: 10px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("/assets/images/hero_image1.jpg") no-repeat center center;
    position: relative;
    margin: 0;
  
}

@media screen and (max-width: 565px) {   
    #hero-image{
    	background: url(/assets/images/hero_image_2.jpg) no-repeat;
        max-height: 200px;
    } 
}

/*--- NAVbar ---*/

/*--- About section ---*/

.about {
    background-color: blue;
    padding: 10px 10px;
    
}

/*--- Services section ---*/

.services {
    background-color: greenyellow;
    padding-left: 15px;
}

/*--- Footer ---*/

.footer {
    background-color: orange;
}
