/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css?family=Quantico:Ruda:200,300,400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    font-family: "Ruda", sans-serif;
    background-color: gainsboro;
}

.main {
    background-color: grey;
    margin: 0;
    border: 2px black solid;
}

footer {
    font-family: "Quantico", sans-serif;
}

/*--- Hero Image + logo ---*/

#hero-title {
    color: whitesmoke;
    width: 250px;
    height: 100px;
    border-radius: 100px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    align-self: auto;

    padding-top: 25px;
    padding-left: 22.5px;
    

    background-color: rgba(13, 14, 65, 0.7);

    top: 30px;
    left: 50px;

    position: absolute;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url("/assets/images/hero_image_1.jpg") no-repeat center center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
  height: 550px;
  width: 100%;
  overflow: hidden;
  position: relative;
 
}

@keyframes hero-zoom {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}
  


@media screen and (max-width: 565px) {   
    #hero-image{
    	background: url(/assets/images/hero_image_2.jpg) no-repeat;
        max-height: 180px;
    } 
    #hero-outer{
        max-height: 180px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #hero-title {
    color: whitesmoke;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    
    
    padding-top: 14px;
    padding-left: 14px;
    
    top: 15px;
    left: 25px;
    }

    .logo {
        font-size: 18px;
    }
}

h1 a, a:hover {
    text-decoration: none;
    color: whitesmoke;
}


/*--- NAVbar ---*/

/*--- About section ---*/

.about {
    background-color: blue;
    padding: 10px 10px;
    
}

/*--- Services section ---*/

.services {
    background-color: greenyellow;
    padding-left: 15px;
}

/*--- Footer ---*/

.footer {
    background-color: orange;
}
